priorityClassName: system-node-critical

resources:
#   limits:
#     cpu: 4000m
#     memory: 4Gi
  requests:
    cpu: 200m
    memory: 256Mi
cgroup:
  autoMount:
    enabled: false
    # resources:
    #   requests:
    #     memory: 1Gi
    #     cpu: 1
    #   limits:
    #     memory: 1Gi
    #     cpu: 1
  hostRoot: /sys/fs/cgroup
ingressController:
  enabled: true
  loadbalancerMode: shared
  enforceHttps: false
hubble:
  enabled: true
  tls:
    auto:
      method: cronJob
  # metrics:
  #   enabled:
  #     - dns
  #     - drop
  #     - tcp
  #     - flow
  #     - icmp
  #     - http
  #     - port-distribution
  #   serviceMonitor:
  #     enabled: true
  #     relabelings:
  #       - sourceLabels:
  #           - __meta_kubernetes_pod_node_name
  #         targetLabel: node
  #         replacement: ${1}
  #         action: replace
    # dashboards:
    #   enabled: true
    #   annotations:
    #     grafana.robowens.dev/folder: hubble
  relay:
    enabled: true
    resources:
      requests:
        cpu: 5m
        memory: 32Mi
    # prometheus:
    #   enabled: true
    #   serviceMonitor:
    #     enabled: true
  ui:
    enabled: true
    frontend:
      server:
        ipv6:
          enabled: false
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
    backend:
      resources:
        requests:
          cpu: 10m
          memory: 100Mi

    ingress:
      annotations: {}
      className: cilium
      enabled: true
      hosts:
      - hubble.example.com
      labels: {}
    nodeSelector:
      kubernetes.io/os: linux
    replicas: 1
    service:
      annotations: {}
      nodePort: 31235
      type: ClusterIP
ipam:
  mode: kubernetes
cluster:
  name: production
operator:
  replicas: 1
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
  # prometheus:
  #   enabled: true
  #   serviceMonitor:
  #     enabled: true
  # dashboards:
  #   enabled: true
  #   annotations:
  #     grafana.robowens.dev/folder: cilium
securityContext:
  capabilities:
    ciliumAgent:
    - CHOWN
    - KILL
    - NET_ADMIN
    - NET_RAW
    - IPC_LOCK
    - SYS_ADMIN
    - SYS_RESOURCE
    - DAC_OVERRIDE
    - FOWNER
    - SETGID
    - SETUID
    cleanCiliumState:
    - NET_ADMIN
    - SYS_ADMIN
    - SYS_RESOURCE
# prometheus:
#   enabled: true
#   serviceMonitor:
#     enabled: true
#     relabelings:
#       - sourceLabels:
#           - __meta_kubernetes_pod_node_name
#         targetLabel: node
#         replacement: ${1}
#         action: replace
# dashboards:
#   enabled: true
#   annotations:
#     grafana.example.com/folder: cilium
envoy:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
  # prometheus:
  #   enabled: true
  #   serviceMonitor:
  #     enabled: true
  #     relabelings:
  #       - sourceLabels:
  #           - __meta_kubernetes_pod_node_name
  #         targetLabel: node
  #         replacement: ${1}
  #         action: replace
l2announcements:
  enabled: true
kubeProxyReplacement: true
k8sServiceHost: localhost
# k8sServiceHost: "talos.example.com"
k8sServicePort: "7445"
k8sClientRateLimit:
  qps: 1000
  burst: 2000

